.wrapper {
	height: 100vh;
	border: solid 40px #2bcdc0;
	background-color: #ff8c54;
	font-family: "Playfair Display", serif;
}
h2 {
	text-align: center;
}
article {
	text-align: center;
	padding: 40px;
}
@media (min-width: 495px) {
	.wrapper {
		border: solid 80px #2bcdc0;
	}
	h2 {
		font-size: 60px;
	}
	article {
		font-size: 30px;
		padding-left: 200px;
		padding-right: 200px;
	}
}
